/*Padroes*/
html, body, div, span, applet, object, iframe, table, caption,
tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend {
font-family: inherit;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
outline: 0;
padding: 0;
margin: 0; 
border: 0;}
:focus{outline:6;}


table{border-collapse: separate;border-spacing:0;}
caption, th, td{font-weight: normal;text-align:left;}
blockquote:before, blockquote:after, q:before, q:after{content: “”;}
blockquote, q{quotes: “” “”;}

*{
	outline:none;
}
ul, li{
	list-style:none;
	display:block;
}
body{
	width:100%;
	margin:0px;
	font-family:"Segoe UI",calibri,tahoma  !important;
	font-size:12px;
	background:#fff;
	line-height:1;
	color:#000000;
}
a, a:hover{
	text-decoration:none;
}
/*Fim Padroes*/
#full-header{
	width:100%;
	height:458px;
	background:url(../image/header/background.jpg) repeat-x;
}
#header{
	width:910px;
	height:458px;
	margin:0 auto;
	position:relative;
	background:url(../image/header/barra-vermelha.jpg) 0 110px repeat-x;
}

/* Main */
#main{
	width:910px;
	margin:0 auto;
	position:relative;
}

/* Footer */
#full-footer{
	width:100%;
	height:111px;
	position:relative;
	clear:both;
	background:url(../image/footer/back-footer.jpg) repeat-x;
	top:5px;
}
#full-footer #footer{
	position:relative;
	margin:0 auto;
	width:910px;
	height:111px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{

}
